Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MainService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IMainService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMainService_ComputeNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:ComputeNumber" />
  </wsdl:message>
  <wsdl:message name="IMainService_ComputeNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComputeNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNumbers" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNumbersResponse" />
  </wsdl:message>
  <wsdl:portType name="IMainService">
    <wsdl:operation name="ComputeNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/ComputeNumber" message="tns:IMainService_ComputeNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/ComputeNumberResponse" message="tns:IMainService_ComputeNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/GetNumbers" message="tns:IMainService_GetNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/GetNumbersResponse" message="tns:IMainService_GetNumbers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMainService" type="tns:IMainService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IMainService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ComputeNumber">
      <soap:operation soapAction="http://tempuri.org/IMainService/ComputeNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumbers">
      <soap:operation soapAction="http://tempuri.org/IMainService/GetNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainService">
    <wsdl:port name="BasicHttpBinding_IMainService" binding="tns:BasicHttpBinding_IMainService">
      <soap:address location="https://tftservice20220201172317.azurewebsites.net/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>